<strong>Um amigo compartilhou um evento com você</strong>

<p>Seu amigo {{ user.username }} compartilhou um evento com você.</p>

<strong>{{ event.title }}</strong>

<p><strong>Local:</strong> {{ event.location }}</p>
<p><strong>Quando:</strong> {{ event.date }}</p>
